// Colors
$primary-color: #fdc800;
$secondary-color: #002147;
$abstract-color: #f0f4f9;

// Texts
$text-color: #212529;
$text-sm: 14px;
$text-base: 16px;
$text-md: 18px;
$text-lg: 20px;

$font-family: 'Poppins', sans-serif;

$border-radius: 8px